<div class="card p-2">
    <form>
        <div class="form-group m-1">
            <label for="tituloCurto">Título Curto:</label>
            <input type="text" class="form-control" id="tituloCurto" name="tituloCurto"
                placeholder="Insira o título curto">
        </div>
        <div class="form-group m-1">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Insira o título">
        </div>
        <div class="form-group m-1">
            <label for="descricao">Descrição:</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="5"
                placeholder="Insira a descrição"></textarea>
        </div>
    </form>
</div>