<div class="map" id="map" class="match-parent"></div>

<div class="card m-1 p-1">
    <div class="col-12 row">
        <div class="col-2">
            <a class="btn btn-danger col-12" (click)="clearMap()">
                <i tabindex="0" class="fa fa-times mx-3"></i>
            </a>
        </div>
        <div class="col-2">
            <a class="btn btn-secondary col-12">
                <i tabindex="0" class="fa fa-question-circle-o mx-3"></i>
            </a>
        </div>
        <div class="col-2">
            <a class="btn btn-secondary col-12">
                <i tabindex="0" class="fa fa-question-circle-o mx-3"></i>
            </a>
        </div>
        <div class="col-2"> 
            <a class="btn btn-secondary col-12">
                <i tabindex="0" class="fa fa-question-circle-o mx-3"></i>
            </a>
        </div>
        <div class="col-2">
            <a class="btn btn-secondary col-12">
                <i tabindex="0" class="fa fa-question-circle-o mx-3"></i>
            </a>
        </div>
        <div class="col-2">
            <a class="btn btn-secondary col-12">
                <i tabindex="0" class="fa fa-question-circle-o mx-3"></i>
            </a>
        </div>
    </div>
</div>